- name: Run Evolve Script
        env:
          FIREBASE_SERVICE_ACCOUNT: ${{ secrets.FIREBASE_SERVICE_ACCOUNT }}
          NEON_URL: ${{ secrets.NEON_URL }} # Neon URL လည်း secret ထဲမှာ ရှိရမယ်
        run: python evolve.py
        
