- name: Run Evolve Script
  env:
    FIREBASE_SERVICE_ACCOUNT: ${{ secrets.FIREBASE_SERVICE_ACCOUNT }}
    NEON_DATABASE_URL: ${{ secrets.NEON_DATABASE_URL }}
  run: |
    npm install firebase-admin pg
    node optimized_evolution.js
